<div id="home_header">
	<span id="jumbo">PUT YOUR DIET ON AUTOPILOT<br><span id="tagline">Find the right meal in seconds.</span></span>
	<%= link_to "Sign Up", signup_path, class:"signup_button" %>
</div>

<div id="section" class="no_planning">
	<h1>No Planning</h1>
		<img src="" alt="">
			<p>Just tell us how you eat? Paleo? Low-carb? Low-fat? </p>
</div>

<div id="section" class="no_waste">
	<h1>No Waste</h1>
		<img src="" alt="">
			<p>blahblahblah </p>
</div>

<div id="section" class="no_worries">
	<h1>No Worries</h1>
		<img src="" alt="">
			<p>blahblahblah </p>
</div>

<%= form_for(:user, url: users_path) do |f| %>
	<%= f.text_field :email, :value => "Email" %>

	<%= f.password_field :password, :value => "Password" %>

	<%= f.text_field :carbs, :value => "Carbs" %> %

	<%= f.text_field :protein, :value => "Protein" %> %

	<%= f.text_field :fat, :value => "Fat" %> %

  <%= f.submit "Create my account" %>

<% end %>