<%# provide(:title, 'All recipes') %>
<% @recipes.each do |recipe| %>
<div id="section">
<div class="photo-grid">
	<figure>
		 <%= image_tag recipe.picture.url, class:"picture" if recipe.picture? %>
  			<figcaption>
	  			<p><%= link_to recipe.name, recipe, class:"recipelink" %><br>
	  				<%= link_to recipe do %>
	  					<i class= "fa fa-arrow-circle-o-right fa-lg"></i>
	  				<% end %>
	  			</p>
  			</figcaption>
		</figure>
 	</li>
	</div>
</div>
<% end %>
      <%# recipe.dailycalories(current_user.calories) %>

<%= link_to "Match Ingredients", recipes_path %>
<%= link_to "Match Macros", recipes_path(match: "macros") %>
<%= link_to "Match Both", recipes_path(match: "both") %>