<br><br>
<%= @recipe_favorites %>



<div id="header">
<h1><%= link_to @recipe.name, @recipe %></h1>
</div>

<div id="section">
    <%= image_tag @recipe.picture.url, :class => "recipe_pic" if @recipe.picture? %>
</div>

<div id="section">
  <h1>Ingredients</h1>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient[:name] %></li>
      <% end %>
    </ul>
</div>
  
<div id="section">
  <h1>Directions</h1>
    <%= @recipe.directions %>
</div>
    
<div id="article">
    <%= image_tag @recipe.nutrition_picture.url, :class => "nutrition_pic" if @recipe.nutrition_picture? %>
</div>

<footer>
	<%= link_to "Edit Recipe", edit_recipe_path %><br>
	<%= link_to "Back to Recipes", recipes_path %><br>
	<br><br>

	<% if current_user.favorited?(@recipe) %>
	<%= render 'add_favorite', recipe: @recipe %>
	<% else %>
	<%= link_to 'Remove from favorites', favorite_path(@recipe), method: :delete %>

	</footer>
		<% end %>