<%= form_for(@user) do |f| %>
  <%= render 'user_error_messages' %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

   <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :calories, "Daily Calorie Intake" %>
    <%= f.text_field :calories %>
  </div>

  <div class="field">
    <%= f.label :carbs %>
    <%= f.text_field :carbs %> %
  </div>

  <div class="field">
    <%= f.label :protein %>
    <%= f.text_field :protein %> %
  </div>

  <div class="field">
    <%= f.label :fat %>
    <%= f.text_field :fat %> %
  </div>

  <div id="ingredients">
  <%= f.fields_for :ingredients do |ingredient| %>
    <%= render 'ingredients/ingredient_fields', :f => ingredient %>
  <% end %>
  <%= link_to_add_association 'add ingredient',f, :ingredients, partial:"ingredients/ingredient_fields" %>
  </div>

  <%= f.submit "Save changes" %>
<% end %>

<br><Br>
<%= link_to 'Delete Account', user_path(@user), method: :delete %>