<%= gravatar_for @user %><br><Br>

<%#= @user.email %>
Welcome <%= @user.name %>!<br>


<% if logged_in? %>
  <%= link_to "Edit User Information", edit_user_path %>
<% end %>


<% if @user.favorites.any? %>
<h1>Favorited Recipes</h1>

<ul> 
   		<% @user.favorites.each do |favorite| %>
    <li>
    	<%= link_to favorite.recipe.name, recipe_path(favorite.recipe) %>
    </li>
  <% end %>
 <% end %>
</ul>




<h1>Daily Macros</h1>

<ul>
  <% if @user.calories %>
	   <li>Calorie Intake:<%= best_in_place @user, :calories, :type => :input %> </li>
  <% end %>
  	<li>Protein:<%= best_in_place @user, :protein, :type => :input %> </li>
  	<li>Carbs: <%= best_in_place @user, :carbs, :type => :input %></li>
  	<li>Fat:<%= best_in_place @user, :fat, :type => :input %></li>
</ul>

