<%= gravatar_for @user %><br><Br>

<%#= @user.email %>
Welcome <%= @user.name %>!<br>


<% if logged_in? %>
  <%= link_to "Edit User Information", edit_user_path %>
<% end %>



<h1>Favorited Recipes</h1>

<ul> 
	<% if @user.favorites.any? %>
   		<% @user.favorites.each do |favorite| %>
    <li>
    	<%= link_to favorite.recipe.name, recipe_path(favorite.recipe) %>
      	<%= favorite.recipe.name %>
    </li>
  <% end %>
 <% end %>
</ul>




<h1>Daily Macros</h1>

<ul>
  <% if @user.calories %>
	   <li>Calorie Intake: <%= @user.calories %></li>
  <% end %>
  	<li>Protein: <%= @user.protein %></li>
  	<li>Carbs: <%= @user.carbs %></li>
  	<li>Fat: <%= @user.fat %></li>
</ul>

