<nav class="group">
	<ul>
		<li><%= link_to image_tag("eathow.png"), id:"logo" %></li>
		<li><a href="" >prep</a></li>
		<li><a href="">about</a></li>
	</ul>
	<ul id="user_nav">
		<% if logged_in? %>
			<li><%= link_to "settings", edit_user_path(current_user) %></li>
			<li><%= link_to "log out", logout_path, method: :delete %></li>
		<% else %>
			<%= form_for(:session, url: login_path) do |f| %>

			  <%= f.text_field :email, :value => "email address" %>

			  <%= f.password_field :password, :value => "password"%>

			  <%= f.label :remember_me do %>
			    <%= f.check_box :remember_me %>
				  <span>Remember me</span>
			  <% end %>

			  <%= f.submit "Log in" %>
			  <%= link_to "Sign Up", signup_path %>
			<% end %>
			
		<% end %>
	</ul>
</nav>