<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">

	<%= link_to image_tag("eathow.png"),root_url, class:"navbar-brand" %>
		<% if logged_in? %>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<%= link_to (raw("profile <b class='caret'></b>")), edit_user_path(current_user), :"data-toggle" => "dropdown" %>
					<ul class="dropdown-menu">
						<li><%= link_to "view profile", edit_user_path(current_user) %></li>
						<li class="divider"></li>
						<li><%= link_to "log out", logout_path, method: :delete %></li>
					</ul>
				</li>
				<li class="dropdown">
					
				</li>
			</ul>

		<% else %>
			<%= form_for(:session, url: login_path) do |f| %>
		  	<%= f.text_field :email, :value => "email address" %>
		  	<%= f.password_field :password, :value => "password"%>
		  	<%= f.label :remember_me do %>
		    	<%= f.check_box :remember_me %>
			  	<span>Remember me</span>
		  	<% end %>
		  	<%= f.submit "Log in" %>

		  	<%= link_to "Sign Up", signup_path %>
			<% end %>
		<% end %>

	</div>
</nav>